h5 {
  margin-bottom: 10px !important;
}

.icon-action {
  cursor: pointer;
  margin-top: 0.5rem;
  color: #aaa;
  transition: 300ms;
}

.icon-action:hover {
  transition: 300ms;
  color: #333;
}

.block {
  background-color: var(--secondary);
  height: 100%;
  min-height: 150px;
  color: var(--primary);
  position: relative;
}

.block-content {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.block-border {
  border: 1px solid var(--secondary);
  height: 100%;
  min-height: 150px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.d-flex-sb {
  display: flex;
  justify-content: space-between;
}

.list {
  position: relative;
  box-sizing: border-box;
  color: var(--secondary);
  margin-bottom: 2px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid rgba(255, 231, 179, 0);
}

.list:hover {
  border: 1px solid var(--secondary);
}

.active {
  border: 1px solid var(--secondary);
  position: relative;
  overflow: hidden;
}

.active::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent var(--secondary) transparent transparent;
  right: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
}

.list img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.close-corner {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--primary);
  z-index: 99;
  font-weight: bold;
  font-size: 1em !important;
}

.brake-top {
  box-sizing: border-box;
  border-top: 3px solid var(--secondary) !important;
  padding-top: 10px;
  margin: 0 5px;
}

.brake-bottom {
  box-sizing: border-box;
  border-top: 1px solid var(--secondary) !important;
  padding-top: 5px;
  margin: 0 5px;
}

.header {
  box-sizing: border-box;
  padding: 10px 0px;
  border-top: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
  color: var(--secondary);
}

.sub-footer {
  box-sizing: border-box;
  color: var(--secondary);
}

.pointer {
  cursor: pointer;
}

.grid {
  position: relative;
  box-sizing: border-box;
  color: var(--primary);
  background-color: var(--secondary);
  margin-bottom: 2px;
  padding: 5px;
  cursor: pointer;
  min-height: 110px;
  display: flex;
  align-items: flex-end;
  margin: 5px;
}

.grid-active {
  position: relative;
  overflow: hidden;
}

.grid-active::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent rgb(129, 36, 36) transparent transparent;
  right: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66%;
}

.title-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 821px) {
  .header {
    display: none;
  }

  h5 {
    font-size: 18px !important;
    margin: 0 !important;
  }

  .brake-bottom {
    display: none;
  }

  .brake-top {
    display: none;
  }

  .block {
    margin: 5px;
  }

  .list {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
  }

  .sample {
    background-color: #333;
  }

  .slick-slider {
    margin-right: -16px;
  }

  .videos .slick-slide {
    width: 280px !important;
  }

  .videos h6 {
    font-size: 18px !important;
    font-weight: bold;
    margin: 0 !important;
  }

  .custom .slick-slide {
    width: 160px !important;
  }

  .custom h6 {
    font-size: 14px !important;
    font-weight: bold;
    margin: 0 !important;
  }

  .grid {
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 60px;
  }

  .grid p {
    font-size: 14px !important;
    font-weight: bold !important;
  }
}
