:root {
  --primary: rgb(140, 50, 50);
  --secondary: rgb(255, 239, 205);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: white;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 15px;
  color: var(--secondary);
}

.nav-content {
  box-sizing: border-box;
  max-width: 1200px !important;
  margin: auto;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content .logo {
  margin: 0px !important;
  font-size: 1.5em;
  margin-right: 25px !important;
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
  border-radius: 1px;
  outline: none;
  border: none;
  width: 100%;
  margin: 0 10px;
  height: 42px;
  transition: 200ms;
}

input:focus {
  border: 1px solid rgb(240, 175, 35);
  border-radius: 12px;
  transition: 200ms;
}

button {
  color: rgb(140, 50, 50) !important;
  background-color: var(--secondary) !important;
  outline: none;
  border: none;
  margin: 0 5px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
}

button:hover {
  cursor: pointer;
}

.MuiBadge-badge {
  background-color: var(--secondary);
  color: var(--primary);
}

.footer {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid var(--secondary);
  padding: 15px 0px;
}

.icon-footer {
  background-color: var(--secondary);
  color: var(--primary);
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.secondary {
  color: var(--secondary);
}

.icon-container {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 821px) {
  .nav-content .logo {
    font-size: 18px !important;
    margin-right: 0 !important;
  }

  .footer {
    text-align: center;
  }

  .icon-container {
    display: flex;
    justify-content: center;
  }

  input {
    background-color: var(--secondary) !important;
    color: var(--primary) !important;
    border-radius: 1px;
    outline: none;
    border: none;
    width: 100%;
    margin: 0 !important;
    height: 42px;
    transition: 200ms;
  }
}

/* modal profile */
.modal-container {
  background-color: var(--secondary);
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 25px;
  position: relative;
}

.modal-header {
  font-size: 1em !important;
  font-weight: bold !important;
  text-align: center !important;
  border-bottom: 0.5px solid var(--primary);
  padding-bottom: 10px;
  margin: 5px 0px 10px 0px !important;
}

.modal-close {
  color: var(--secondary);
  text-align: center;
  font-size: 1.5em !important;
  cursor: pointer;
}

.MuiBackdrop-root {
  background-color: rgb(140, 50, 50, 0.8) !important;
}

.button-profile {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.profile-name {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: center !important;
  line-height: 1 !important;
}

.profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 6px;
  margin-top: -60px;
  margin-bottom: 20px;
}

.btn-logout {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(140, 50, 50, 0.1) !important;
  margin: 0 !important;
  height: 50px !important;
  border-top: 1px solid var(--primary);
}

.modal-menu {
  cursor: pointer;
  padding: 10px 16px;
  margin: 0 -16px;
  transition: 200ms;
}

.modal-menu p {
  font-weight: 450 !important;
  letter-spacing: 1px !important;
}

.modal-menu:hover {
  background-color: rgba(140, 50, 50, 0.1);
}

.menu-active {
  background-color: rgb(140, 50, 50, 0.1);
  transition: 200ms;
}
